name: Deploy
on:
  push:
    branches:
      - main
  workflow_dispatch: # Allow manual trigger
concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
jobs:
  container:
    if: vars.SSH_HOSTNAME != ''
    name: Deploy production containers
    runs-on: ubuntu-latest
    environment:
      name: production
      url: https://${{ vars.HOSTNAME }}/
    concurrency: production
    env: ${{ secrets }}
    steps:
      - uses: actions/checkout@v5
      - uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - run: |
          docker context create production --description "Production Server" --docker "host=ssh://github@${{ vars.SSH_HOSTNAME }}"
          docker context use production
      - run: |
          touch .env
          docker compose -f compose.yaml -f compose.production.yaml up -d --build --remove-orphans
        env: ${{ vars }}
