name: Deploy
on:
  push:
    branches:
      - main
  workflow_dispatch:
concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
jobs:
  container:
    if: github.repository != 'codingjoe/freePaaS'
    name: Deploy production containers
    runs-on: ubuntu-latest
    environment:
      name: production
      # url: Add your URL here if needed, (can't include secrets)
    concurrency: production
    steps:
      - uses: actions/checkout@v5
      - uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - run: |
          docker context create production --description "Production Server" --docker \
          "host=ssh://${{ secrets.DOCKER_PRODUCTION_SSH_USER }}@${{ secrets.DOCKER_PRODUCTION_SSH_HOST }}"
      - run: docker compose -f compose.production.yaml up -d --build --remove-orphans
        env:
          POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
          REDIS_PASSWORD: ${{ secrets.REDIS_PASSWORD }}
          TARGET_ENV: ${{ job.environment.name }}
