name: test
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  test:
    environment: prod
    runs-on: ubuntu-latest
    steps:
      - run: echo ${{ toJson(vars) }}
        env: ${{ secrets || vars }}
